<div id="home">
  <div class="container">

    <div class="jumbotron">
      <h1 class="display-3">KetoFu</h1>
      <p class="lead">Cut through your weight with the Ketogenic diet</p>
      <hr class="my-2">
      <p>Start using KetoFu today!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login/Register</a>
      </p>
    </div>

  </div>
</div>

<footer>
  {{> footer }}
</footer>

{{> scriptTags}}
<script src="/js/index.js"></script>